<div class="manage-left">
    <ul class="manage-down">
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/admin">Trang chủ admin</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/cartegoryList/1">Danh mục sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/productList/1">Sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/sliderList/1">Slider</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/userList/1">Danh sách nhân viên</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/roleList/1">Danh sách vai trò</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/orderList/1">Danh sách đơn hàng</a>
        </li>
    </ul>
</div>